.modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 100;
  //   overflow: hidden;
  display: none;
}

.modal {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 620px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .product-config {
    background: #fff;
  }

  .user-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .close-mo  {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #fff;
      cursor: pointer;

      @media (max-width: 620px) {
          color: #000;
      }
  }
}
