.container-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
}

.container-search {
  display: flex;

  input {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.2);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
