@import "./components/all";

@import "./helpers/all";

@import "./layouts/all";

@import "./pages/all";

@import "./utilities/all";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Montserrat";
}

aside {
  position: fixed;
  background-color: rgba(#222, 0.7);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-100%);
  

  nav {
    width: 300px;
    display: flex;
    flex-direction: column;
    right: 0;
  }
}
